{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo %}Perfil - {{ user.username }}{% endblock %}

{% block contenido %}
<div class="content-section">
  <div class="media">
    <img
      class="rounded-circle account-img"

    />
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">Sobre mi:{{ user.first_name }}</p>
      <p class="text-secondary">Email:{{ user.email }}</p>
      <p>Mi sitio:</p><a class="text-secondary" href="{{ user.last_name }}">{{ user.last_name }}</a><br><br>
      <a class="btn default" href="{% url 'editarPerfil' %}">Editar usuario</a>
      <a class="btn default" href="{% url 'agregarAvatar' %}">Editar imagen de perfil</a>
    </div>
  </div>
</div>
{% endblock %}

src="{{ user.perfil.imagen.url }}"