{% extends "AppBlog/padre.html" %}

{% load static %}


{% block titulo %}Reseñas{% endblock %}
{% block contenido %}
{% for reseña in reseñas %}
    <h3>{{ reseña.titulo }}</h3>
    <div><img src="{{ reseña.imagen.url }}" height="300">></div>
    <h4>{{ reseña.subtitulo }}</h4>
    <p>{{ reseña.autor }} - {{ reseña.fecha }}</p><br>
    <a class="btn info" href="{% url 'reseña_detalle' reseña.id %}">Ver mas</a>
    <br><br><br>
{% endfor %}
<br><br><br><br>
<a class="btn default" href="{% url 'reseña_form' %}">Agregar reseña</a>
{% endblock %}